.ant-affix{position:fixed;z-index:10}
.all___382gf{display:-webkit-box;display:-ms-flexbox;display:flex}.all___382gf .left___1sffU{width:200px}.all___382gf .right___2DMON{-webkit-box-flex:1;-ms-flex:1 1;flex:1 1;overflow:hidden}.all___382gf .right___2DMON .content___3t8Jj{margin-top:1rem}.all___382gf .ant-steps-dot .ant-steps-item-content{width:170px}
